; Top-most EditorConfig file
root = true

; Unix-style newlines
[**]
end_of_line = LF
charset = utf-8

[**.{html,js,jsx,ts,tsx}]
indent_style = tab
indent_size = 4
insert_final_newline = true

[**.{css,less,styl}]
indent_style = tab
indent_size = 4

[**.{json}]
indent_style = tab
indent_size = 2