@require "./fonts.css";
@require "./reset.css";
@require "../../src/Responsive/styles.styl";


// VARS
// -----------------------------------------------
:root
	--text-color rgba(49,62,98, .8)
	--layout-padding-x 40px
	--layout-padding-x-mobile 20px


// STYLES
// -----------------------------------------------
body
	padding 45px
	font-family "Gotham Pro"
	color var(--text-color)
	background #f2f4f5
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale


.layout
	background #fff
	border-radius 20px
	padding 80px var(--layout-padding-x) 40px
	max-width 1100px

	+media(mobile tablet)
		padding 40px var(--layout-padding-x-mobile) 20px
