json("./queries.json")


// MEDIA QUERIES
// -----------------------------------------------
$media-queries = {
	mobile: queryMobile
	tablet: queryTablet
	desktop: queryDesktop
}


// MEDIA MIXIN
// -----------------------------------------------
media(breakpoints)
	conditions = ()

	for breakpoint in breakpoints
		// Checking existence of breakpoint
		if ($media-queries[breakpoint] == null)
			error('Incorrect breakpoint! (' + breakpoint +')')

		push(conditions, $media-queries[breakpoint])

	conditions = join(', ', conditions)

	@media conditions
		{block}