@require "../Responsive/styles.styl"


// STEPS PREVIEW CODE & IMAGE
// -----------------------------------------------
.tutorial-steps-preview
	display grid
	grid-template-columns minmax(0, 1fr)
	background #F2F4F5
	border-radius 16px
	overflow auto

	+media(desktop)
		position -webkit-sticky
		position sticky
		top 10px
		height calc(100vh - 20px)

	& > div
		grid-area 1 / 1

	&._small
		margin-top 40px
		margin-right calc(-1 * var(--layout-padding-x-mobile))
		line-height 20px
		font-size 12px
		border-radius 16px 0 0 16px

.tutorial-steps-preview__name
	margin 12px auto 28px 20px
	line-height 22px
	overflow hidden
	text-overflow ellipsis
	white-space nowrap
	font-size 14px
	color #A7ADBC

.tutorial-steps-preview__image
	margin 50px 0
	text-align center

	img
		max-width 100%

	+media(mobile tablet)
		margin 50px auto 0

.tutorial-steps-preview__video
	display flex

	video
		margin auto
