@require "../Responsive"


.sb-lesson-section
	display grid
	grid-template-columns 55fr 45fr
	column-gap 80px

	+media(mobile tablet)
		grid-template-columns minmax(0, 1fr)

	.section-info
		.inner-title
			margin-bottom 10px
			line-height 28px
			font-weight 500
			font-size 18px

			+media(mobile tablet)
				line-height 24px
				font-size 14px

		.inner-subtitle
			margin-bottom 20px
			line-height 38px
			font-weight 700
			font-size 28px

			+media(mobile tablet)
				line-height 32px
				font-weight 500
				font-size 24px

		.inner-description
			margin-bottom 10px
			line-height 28px
			font-size 18px

			+media(mobile tablet)
				line-height 22px
				font-size 14px

			p
				margin-bottom 20px

	.section-source
		display flex
		align-items center
		justify-content flex-end