.sb-lesson-section
	display grid
	grid-template-columns 55fr 45fr
	column-gap 80px
	.section-info
		line-height 28px
		font-size 18px
		.inner-title
			margin-bottom 10px
		.inner-subtitle
			margin-bottom 20px
		.inner-description
			margin-bottom 10px
			p
				margin-bottom 20px
	.section-source
		display flex
		align-items center
		justify-content flex-end
		img
			max-width 100%
