.sb-lesson-section
	display grid
	grid-template-columns 550px minmax(0, auto)
	.section-info
		font-size 18px
		line-height 28px
		.info__title
			margin-bottom 10px
		.info__subtitle
			margin-bottom 20px
		.info__description
			margin-bottom 10px
			p
				margin-bottom 20px
	.section-source
		text-align center
		img
			max-width 100%

.sb-lesson-steps
	display grid
	grid-template-columns 390px minmax(0, auto) /* 37.8640776699% = 390px / 1030px * 100 */
	column-gap 40px
	margin-top 80px
	width 100%
	.tutorial-steps
		margin-bottom 92vh
	/* step item */
	.tutorial-steps__item
		font-size 14px
		line-height 22px
	.tutorial-steps__item + .tutorial-steps__item
		margin-top 100px
	/* step block*/
	.tutorial-steps__item .inner-block
		position relative
		padding 30px 20px 30px 28px
		border 1px solid #c8d1d7
		border-radius 16px
		overflow hidden
		cursor pointer
	.tutorial-steps__item._active .inner-block::before
		content ''
		position absolute
		left 0
		top 0
		bottom 0
		border-left 8px solid #205dd4
	/* step title */
	.tutorial-steps__item .inner-title
		margin-bottom 20px
	/* step comment */
	.tutorial-steps__item .inner-comment
		margin-top 20px

/* steps preview code & image */

.tutorial-steps-preview
	position -webkit-sticky
	position sticky
	top 10px
	height calc(100vh - 20px)
	background #f2f4f5
	border-radius 16px
	overflow auto

.tutorial-steps-preview__name
	margin 12px auto 28px 20px
	line-height 22px
	font-size 14px
	color #A7ADBC

.tutorial-steps-preview__image
	margin 50px auto
	height 300px
	text-align center

.tutorial-steps-preview__image img
	height 100%

/* UPDATED */

.view-code .vc-line._updated
	background rgba(32, 93, 212, 0.08)

.view-code .vc-line._updated._number::before
	bottom 0
	border-left 4px solid #205DD4
